.steps {
  position: relative;

  height: 14.5rem;
}

.steps__container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  max-width: 141.2rem;
}

.steps__inner {
  display: flex;

  padding: 5rem;

  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--gray-shadow-50);
}
