.section {
    position: relative;

    padding: 7rem 0 0;
}

.section_joint {
    padding: 0;
}

.section__image {
    position: absolute;
    top: 3rem;
    left: 50%;

    transform: translateX(-100%);
}

.section-row {
    padding: 6rem 0;

    color: var(--text-color, var(--black));
}

.section-row_light-bg {
    background-color: var(--white);
}

.section-row_muted-bg {
    background-color: var(--muted-3);
}

.section-row_accent-bg {
    --text-color: var(--white);

    background-color: var(--accent);
}

.section-row_accent-dark-bg {
    --text-color: var(--white);
    --number-color: var(--accent);

    background-color: var(--accent-dark);
}

.section-row__header {
    display: flex;
    align-items: center;

    margin-bottom: 3rem;
}

.section-row__number {
    position: relative;

    display: block;

    padding-bottom: .4em;

    color: var(--number-color, var(--black));
    font-size: 1.8rem;
    font-weight: bold;
}

.section-row__number::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: .25rem;
    left: 0;

    width: 100%;
    height: .5rem;

    background-color: var(--text-color, var(--accent));
    border-radius: .5rem;
}

.section-row__title {
    flex-grow: 1;
    display: block;

    margin-left: 1rem;

    color: var(--muted-2)
}

.section-row__description {
    
}