.button {
  display: inline-block;

  padding: 1.5rem 4rem;

  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: .14rem;

  border-radius: .6rem;

  cursor: pointer;
  overflow: hidden;
  transition: box-shadow .15s ease;
}

.button:hover {
  box-shadow: var(--accent-shadow);
}

.button_accent {
  color: var(--white);

  background: var(--accent-gradient);
}

.button_light {
  background: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0rem;
}

.button_light {
  border: .2rem solid var(--accent-2);
  border-radius: .5rem;
}
