.footer {
  padding: 10rem 0 5rem;

  color: var(--white);

  background-color: var(--primary-dark);
}

.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: start;

  margin-bottom: 7rem;
}

.footer__logo {
  width: 9.8rem;
  height: 2.8rem;
}

.footer__menu {
  margin-left: 10.4rem;
}

.footer__menu-title {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer__item {
  margin-top: 1.5rem;

  font-size: 1.6rem;
}

.footer__link {
  color: var(--white);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__get-the-latest {
  width: 35.5rem;
  margin-right: 0;
  margin-left: auto;
}

.footer__title {
  margin-bottom: 2rem;

  text-transform: uppercase;
  font-size: 1.3rem;
}

.footer__description {
  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
}

.footer__input-wrapper {
  width: 100%;
}

.footer__input {
  flex-grow: 1;
}

.footer__socials {
  margin-top: 3rem;
}

.footer__social + .footer__social {
  margin-left: 2.5rem;
}

.footer__social-icon {
  width: 2.6rem;
  height: 2.6rem;

  opacity: .45;

  object-fit: contain;
  object-position: center center;

  transition: opacity .15s ease;
}

.footer__social-icon:hover {
  opacity: 1;
}

.footer__bottom {
  margin: 7rem 0;
}

.footer__paragraph {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.footer__paragraph + .footer__paragraph {
  margin-top: 2.3rem;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;

  margin: 2rem 0 5rem;

  font-size: 1.4rem;
}

.footer__privacy {
  display: flex;
}

.footer__privacy-text {
  color: inherit;
}

.footer__privacy-text:hover {
  text-decoration: underline;
}

.footer__privacy-text + .footer__privacy-text {
  position: relative;

  margin-left: 2.1rem;
}

.footer__privacy-text + .footer__privacy-text::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -1rem;

  width: .1rem;
  height: 100%;

  background-color: var(--white);
}
