.for-employers {
  padding: 12.5rem 0 11.4rem;

  background: url(../../img/woman-bg.png), var(--light-2);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 600px;
}

.for-employers__inner {
  width: 50rem;
}

.for-employers__title {
  width: 39rem;
}
