// Fonts
@font-face {
  font-family: 'HammersmithOne';
  src: url('/webfonts/HammersmithOne-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/webfonts/PlayfairDisplay-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/webfonts/PlayfairDisplay-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/webfonts/PlayfairDisplay-Black.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: 'Roboto';
  src: url('/webfonts/Roboto-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('/webfonts/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/webfonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/webfonts/Roboto-Black.ttf');
  font-weight: bolder;
}
