// Service classes
.text {
  &-thin {
    font-weight: 200;
  }
  &-lighten {
    font-weight: 300;
  }
  &-normal {
    font-weight: normal;
  }
  &-bold {
    font-weight: bold;
  }
  &-bolder {
    font-weight: bolder;
  }
}

a.button {
  display: inline-block;
  font-family: 'HammersmithOne';
  font-size: $button-font-size;
  color: $accent-text-color;
  text-transform: uppercase;
  padding: 1rem;
  border: 0.091428571428rem solid $accent-color;
  border-radius: .25rem;
  line-height: .65rem;
  width: fit-content;
  transition: $transition;

  &:hover {
    text-decoration: none;
    background-color: $accent-color;
    color: $light-text-color;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &--tone {
    background: $primary-bg;
  }
}

hr.separate {
  &--sm {
    width: 3.571428571428rem;
    margin-top: 2.142857142857rem;
    margin-bottom: 2.142857142857rem;
  }
  &--accent {
    background-color: $accent-color;
  }
  &--neutral {
    background-color: $neutral-color;
  }
}

.modern {
  font-family: 'Roboto';
}
