// Variables
// Colors
$turquoise: rgba(0, 224, 208, 1);
$dark: rgba(65, 61, 75, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(187, 186, 188, 1);
$purple-lighter: rgba(48, 35, 95, 1);
$purple-deeper: rgba(19, 16, 45, 1);
$blue: rgba(70, 163, 204, 1);
$light-gray: rgba(235, 235, 235, 1);

$gradient--light: linear-gradient(90deg, transparentize($turquoise, .15) 0%, transparentize($blue, .15) 100%);
$gradient--dark: linear-gradient(125deg, transparentize($purple-deeper, .15) 0%, transparentize($purple-lighter, .15) 100%);

$primary-bg: $gradient--dark;
$secondary-bg: $white;
$light-text-color: $white;
$dark-text-color: $dark;
$accent-text-color: $turquoise;
$accent-color: $turquoise;
$neutral-color: $gray;

// Sizes
$basic-font: 14px;

$h1-font-size: 2.285714rem;
$h1-font-family: 'PlayfairDisplay';
$h1-font-weight: bolder;

$h2-font-size: 1.571428rem;
$h2-font-family: 'PlayfairDisplay';
$h2-font-weight: bold;

$h3-font-size: 1.142857rem;
$h3-font-family: 'Roboto';
$h3-font-weight: bolder;

$h4-font-size: 1rem;
$h4-font-family: 'PlayfairDisplay';
$h4-font-weight: 600;

$h5-font-size: 0.928571428571rem;
$h5-font-family: 'Roboto';
$h5-font-weight: 300;

$button-font-size: 1.142857rem;

// Others
$transition: all .25s ease-out;
