/*
|
|---------------------------------------------
| Importing styles for general components
|---------------------------------------------
|
*/

@import './components/page-top-nav.css';
@import './components/page-header.css';





/*
|
|---------------------------------------------
| General styles for all pages
|---------------------------------------------
|
*/





/*
|---------------
|     Grid
|---------------
*/

.row {

  /* Display */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

._flex-center { justify-content: center }

._flex-between { justify-content: space-between }

.col {

  /* Display */
  display: flex;
  flex-direction: column;

  /* Dimension */
  padding-left: var(--s-inner-gap);
  padding-right: var(--s-inner-gap);

}

.page-container {

  /* Dimension */
  max-width: 1140px;

  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s-inner-gap);
  padding-right: var(--s-inner-gap);

}



/*
|---------------
|   Dimension
|---------------
*/

._w-100 { width: 100% }

._m-0 { margin: 0 }

._mt-0 { margin-top: 0 }
._mt-1 { margin-top: 0.25em }
._mt-2 { margin-top: 0.75em }
._mt-3 { margin-top: 1.25em }
._mt-4 { margin-top: 1.75em }
._mt-5 { margin-top: 2.25em }

._mb-0 { margin-bottom: 0 }
._mb-1 { margin-bottom: 0.25em }
._mb-2 { margin-bottom: 0.75em }
._mb-3 { margin-bottom: 1.25em }
._mb-4 { margin-bottom: 1.75em }
._mb-5 { margin-bottom: 2.25em }

._ml-0 { margin-left: 0 }

._mr-0 { margin-right: 0 }



/*
|---------------
|     Text
|---------------
*/

._text-right { text-align: right }
