/*
|
|---------------------------------------------
| Reset styles for base tags
|---------------------------------------------
|
*/

body {

  /* Dimension */
  min-width: var(--s-page-min-width);
  margin: 0;
  padding-top: var(--s-header-height);

  /* Font */
  font-family: var(--f-base-family);
  font-size: var(--f-base-size);

}

*,
:after,
:before {

  /* Dimension */
  box-sizing: border-box;

  /* Appearance */
  box-shadow: 0px 0px 0px 0px var(--c-dark-o-25);
  outline: none;
  border: 0px solid var(--c-dark-o-25);
}

a {

  /* Font */
  color: inherit;

  /* Appearance */
  text-decoration: inherit;

}

ul {

  /* Dimension */
  margin: 0;
  padding: 0;

  /* Appearance */
  list-style-type: none;

}

h1 { font-size: 2.25em }
h2 { font-size: 2em }
h3 { font-size: 1.75em }
h4 { font-size: 1.5em }
h5 { font-size: 1.25em }
h6 { font-size: 1em }
