/*
|
|---------------------------------------------
| Variables for easy costimible
|---------------------------------------------
|
*/

:root {

  /*
  |---------------
  |    Font
  |---------------
  */

  --f-base-family: 'Roboto';
  --f-base-size: 14px;



  /*
  |---------------
  |    Colors
  |---------------
  */

  --c-white: #fafaff;

  --c-primary: #80ffdb;
  --c-primary-o-25: #80ffdb40;
  --c-primary-o-15: #80ffdb25;

  --c-secondary: #09b1b1;
  --c-secondary-o-25: #09b1b140;
  --c-secondary-o-15: #09b1b125;

  --c-accent: #4b00c1;
  --c-accent-o-25: #4b00c140;
  --c-accent-o-15: #4b00c125;

  --c-dark: #252525;
  --c-dark-o-25: #25252540;
  --c-dark-o-15: #25252525;
  --c-dark-mute: #25252580;

  --c-highlight: #bbffff;



  /*
  |---------------
  |  Dimensions
  |---------------
  */

  --s-page-min-width: 320px;

  --s-header-height: 50px;

  --s-rounding: .25em;

  --s-inner-gap: 30px;
  --s-outer-gap: 30px;

  --s-section-padding: calc( var(--s-inner-gap) * 2 );

}
