/*
|
|---------------------------------------------
| Styles for page header
|---------------------------------------------
|
*/





.page-header {

  /* Local Vars */
  --gap: 90px;

  /* Font */
  font-size: 18px;

  /* Appearance */
  background-image: url(../../img/header__background.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;

}

.page-header__wrapper {

  /* Dimension */
  padding-top: var(--gap);
  padding-bottom: 25px;

  /* Appearance */
  background-color: rgb(0 53 38 / 75%);
}

.header__heading { color: var(--c-highlight) }

.header__title { margin-top: 1.15em }

.header__slogan { text-align: right }

.header__angle-down {

  /* Dimension */
  margin-top: var(--gap);

  /* Font */
  color: var(--c-white);
  font-size: 1.25em;

}





/*
|---------------
| Media Queries
|---------------
*/

@media screen and (max-width: 849px) {

  .row.header__heading { flex-direction: column }

  .header__heading,
  .header__slogan { text-align: center }

}

@media screen and (max-width: 379px) {

  .page-header { font-size: inherit; }

}
