.card_work {
  display: flex;
  align-items: center;

  padding: 3rem;

  background-color: var(--white);
  border-radius: .1rem;

  cursor: pointer;
  transition-property: box-shadow, transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.card_work__wrapper + .card_work__wrapper {
  margin-top: 1.3rem;
}

.card_work__wrapper:hover .card_work {
  box-shadow: 0 0 2rem -.5rem var(--accent);

  transform: translate(2.5rem, 2.5rem);
}

.card_work__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4.1rem;
  height: 4.1rem;
  margin-right: 2.1rem;

  color: var(--white);

  background-color: var(--accent);
  border-radius: 5rem;
}

.card_work__title {
  margin-bottom: 1rem;
}

.card_work__description {
  display: flex;
  align-items: center;

  color: hsl(220deg, 21%, 60%);
}

.card_work.card_completed .card_work__description {
  color: hsl(128deg, 100%, 37%);
}

.card_work.card_delayed .card_work__description {
  color: hsl(340deg, 93%, 60%);
}

.card_work__description-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: .6rem;

  background-image: url(../../img/marker_wait.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.card_work.card_completed .card_work__description-icon {
  background-image: url(../../img/marker_wait-completed.png);
}

.card_work.card_delayed .card_work__description-icon {
  background-image: url(../../img/marker_wait-delayed.png);
}

.card_work__description-text {
  font-size: 1.1rem;
}
