.container {
  max-width: 147.9rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.container_no-gutter {
  padding: 0;
}

.container_small {
  max-width: 127.4rem;
}

.container_big {
  min-width: 188rem;
}

hr {
  background-color: var(--lighter);
  border: none;
}

hr.hr {
  width: 92%;
  height: 0.1rem;
}


hr.vr {
  width: .1rem;
  height: 92%;
}

.text_accent-gradient {
  background: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_center {
  text-align: center;
}

.section {
  padding: 10rem 0;
}

.section_no-gutters {
  padding: 0;
}
